<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2> My Blogs </h2>

<ul>
    {% for blog in  blogs%}
        <li>
            <h4>{{blog.title}}<h4>
            {{blog.author}} on {{blog.post_date}}<br><br>
            </t>{{blog.content}}<br><br>
            {% if blog.image %}
                <img src="{{ blog.image.url }}">
            {% endif %}
        </li>
    {% endfor %}
</ul>
</body>
</html>